body {
  overflow-x: hidden;
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  height: 70px;
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  border: 1px solid black;
  background-image: url(/images/Campnou_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.logo {
  position: relative;
  width: 75px;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  height: 90%;
}

.link-bar {
  display: flex;
}

.link {
  position: relative;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  background-color: red;
  background-image: url(./images/barca.jfif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0%;
  border: 3px solid red;
}

.container {
  background-image: url(./images/barcelona.jpg);
  background-size: cover;
  width: 100%;
  height: 95vh;
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  display: flex;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  color: red;
}

.big-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/stadium.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bigBoxes {
  display: grid;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  gap: 60px;
  padding-top: 70px;
  padding-bottom: 70px;
  grid-template-columns: repeat(12, 1fr);
  justify-items: center;
}

.box14 {
  position: relative;
  width: 200px;
  height: 250px;
  display: flex;
  justify-content: center;
  border: 3px solid red;
  background-image: url(http://arxiu.fcbarcelona.cat/web/thumbnails/199_150/Imatges/2008-2009/futbol/noticies/jugadors/henry/HENRY_copia.jpg);
  grid-column: span 4;
}

.box9 {
  position: relative;
  width: 200px;
  height: 250px;
  display: flex;
  justify-content: center;
  border: 3px solid red;
  background-image: url(https://fcb-abj-pre.s3.amazonaws.com/img/jugadors/278_etoo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: inherit;
  grid-column: span 4;
}

.box10 {
  position: relative;
  width: 200px;
  height: 250px;
  display: flex;
  justify-content: center;
  border: 3px solid red;
  background-image: url(https://i.pinimg.com/originals/0c/f5/ae/0cf5ae34594f1fdf8e1b9e5a5ec2d47c.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: inherit;
  grid-column: span 4;
}

.box6 {
  position: relative;
  width: 200px;
  height: 250px;
  display: flex;
  justify-content: center;
  border: 3px solid red;
  background-image: url(https://rus.team/images/article/66511/2020-03-30_466-174483_627.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: inherit;
  grid-column: span 4;
}

.box16 {
  position: relative;
  width: 200px;
  height: 250px;
  display: flex;
  justify-content: center;
  border: 3px solid red;
  background-image: url(https://www.footballdatabase.eu/images/photos/players/2008-2009/a_45/45387.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: inherit;
  grid-column: span 4;
}

.box8 {
  position: relative;
  width: 200px;
  height: 250px;
  display: flex;
  justify-content: center;
  border: 3px solid red;
  background-image: url(https://www.footballdatabase.eu/images/photos/players/2008-2009/a_1/1790.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: inherit;
  grid-column: span 4;
}

.box22 {
  position: relative;
  width: 200px;
  height: 250px;
  display: flex;
  justify-content: center;
  border: 3px solid red;
  background-image: url(https://www.footballdatabase.eu/images/photos/players/2008-2009/a_0/237.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: inherit;
  grid-column: span 3;
}

.box2 {
  position: relative;
  width: 200px;
  height: 250px;
  display: flex;
  justify-content: center;
  border: 3px solid red;
  background-image: url(https://arxiu.fcbarcelona.cat/web/thumbnails/199_150/Imatges/2008-2009/futbol/noticies/jugadors/alves/ALVES_copia.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: inherit;
  grid-column: span 3;
}

.box5 {
  position: relative;
  width: 200px;
  height: 250px;
  display: flex;
  justify-content: center;
  border: 3px solid red;
  background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQT3-RYtJYbbqM1NK_CqLmaA8t6p3bkPdcpkLcicwGB79lVttkw);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: inherit;
  grid-column: span 3;
}

.box3 {
  position: relative;
  width: 200px;
  height: 250px;
  display: flex;
  justify-content: center;
  border: 3px solid red;
  background-image: url(http://arxiu.fcbarcelona.cat/web/thumbnails/199_150/Imatges/2008-2009/futbol/noticies/jugadors/pique/PIQUE_copia.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: inherit;
  grid-column: span 3;
}

.box1 {
  position: relative;
  width: 200px;
  height: 250px;
  display: flex;
  justify-content: center;
  border: 3px solid red;
  background-image: url(https://arxiu.fcbarcelona.cat/web/thumbnails/199_150/Imatges/2009-2010/futbol/primer_equip/plantilla/2009-07-20_CARA_VALDES_01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: inherit;
  grid-column: span 12;
}

.box-logo {
  position: absolute;
  width: 50px;
  height: 50px;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  border-radius: 50%;
  border: 3px solid red;
  left: 0;
  top: 0;
  margin: 0;
  transform: translate(-50%, -50%);
}

.boxTitle {
  display: flex;
  font-size: 10px;
  justify-content: flex-start;
  align-items: center;
  color: blue;
  flex-direction: column;
}
.boxTitle > h1 {
  margin-bottom: 0;
}

.boxTitle a {
  text-transform: uppercase;
  text-decoration: none;
  color: blue;
  transition: 0.4s;
}

.boxTitle a:hover {
  color: red;
}

.box14 > h1 {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  background-color: blue;
  color: red;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(50%, -50%);
  border: 3px solid red;
}

.box9 > h1 {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  background-color: blue;
  color: red;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(50%, -50%);
  border: 3px solid red;
}

.box10 > h1 {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  background-color: blue;
  color: red;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(50%, -50%);
  border: 3px solid red;
}

.box6 > h1 {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  background-color: blue;
  color: red;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(50%, -50%);
  border: 3px solid red;
}

.box16 > h1 {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  background-color: blue;
  color: red;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(50%, -50%);
  border: 3px solid red;
}

.box8 > h1 {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  background-color: blue;
  color: red;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(50%, -50%);
  border: 3px solid red;
}

.box22 > h1 {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  background-color: blue;
  color: red;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(50%, -50%);
  border: 3px solid red;
}

.box3 > h1 {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  background-color: blue;
  color: red;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(50%, -50%);
  border: 3px solid red;
}

.box5 > h1 {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  background-color: blue;
  color: red;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(50%, -50%);
  border: 3px solid red;
}

.box2 > h1 {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  background-color: blue;
  color: red;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(50%, -50%);
  border: 3px solid red;
}

.box1 > h1 {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  background-color: blue;
  color: red;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(50%, -50%);
  border: 3px solid red;
}

.box {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.levelOne {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.level2two {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.level3three {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.level4four {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container2 {
  display: flex;
  width: 100%;
  height: 55px;
  background-image: url(./images/Campnou_1.jpg);
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.title2 {
  display: flex;
  height: 45px;
  font-style: 15px;
  justify-content: center;
  align-items: center;
  color: yellow;
  background-color: blue;
}

@media screen and (max-width: 1100px) {
  .box22 {
    grid-column: span 6;
  }
  .box2 {
    grid-column: span 6;
  }
  .box5 {
    grid-column: span 6;
  }
  .box3 {
    grid-column: span 6;
  }
}

@media screen and (max-width: 800px) {
  .bigBoxes {
    gap: 45px;
  }
  .box14 {
    grid-column: span 6;
  }
  .box9 {
    grid-column: span 6;
  }
  .box10 {
    grid-column: span 6;
  }
  .box6 {
    grid-column: span 6;
  }
  .box16 {
    grid-column: span 6;
  }
  .box8 {
    grid-column: span 6;
  }
}

@media screen and (max-width: 550px) {
  .box14 {
    grid-column: span 12;
  }
  .box9 {
    grid-column: span 12;
  }
  .box10 {
    grid-column: span 12;
  }
  .box6 {
    grid-column: span 12;
  }
  .box16 {
    grid-column: span 12;
  }
  .box8 {
    grid-column: span 12;
  }
  .box14 {
    grid-column: span 12;
  }
  .box9 {
    grid-column: span 12;
  }
  .box10 {
    grid-column: span 12;
  }
  .box6 {
    grid-column: span 12;
  }
  .box16 {
    grid-column: span 12;
  }
  .box8 {
    grid-column: span 12;
  }
  .box22 {
    grid-column: span 12;
  }
  .box2 {
    grid-column: span 12;
  }
  .box5 {
    grid-column: span 12;
  }
  .box3 {
    grid-column: span 12;
  }
}
@media screen and (max-width: 600px) {
  .link-bar {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .container2 {
    display: flex;
  }
}
